# Compiled source #
###################
*.class
.classpath
.project

# Packages #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs and databases #
*.log

# Directories #
bin/
dist/
out/
temp/
*/target/
*/.idea/
/.idea/
*.iml
