<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="teamcity-bzm-log" value="teamcity-bzm.log" />
    <appender name="TC-BZM"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/${teamcity-bzm-log}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/archived/${teamcity-bzm-log}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="com.blazemeter" level="trace"
            additivity="false">
        <appender-ref ref="TC-BZM"/>
    </logger>
    <root level="error">
        <appender-ref ref="TC-BZM"/>
    </root>
</configuration>